.main-wrapper>.details-status {
    margin-bottom: auto;
}

.details {
    border-bottom: 1px rgb(94, 94, 94) solid;
    margin-bottom: 15px;
}

.details span {
    color: rgb(92, 92, 92);
}

.details-back {
    margin-top: 15px;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
}