body {
    background: rgb(58, 58, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

select {
    padding: 4px;
    border-radius: 8px;
}

.block {
    background: rgb(247, 247, 247);
    border: 2px rgb(53, 53, 53) solid;
    border-radius: 20px;
    box-shadow: 0 0 20px 15px rgba(0, 0, 0, .2);
    padding: 30px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
}

button:hover,
select:hover {
    cursor: pointer;
}

.main-wrapper input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

a:link,
a:visited {
    color: black;
}

textarea {
    height: 50px;
}

.not-found {
    font-size: 24px;
    margin-bottom: 16px;
}