.main-wrapper {
    height: 800px;
    width: 1000px;
}

.toolbar {
    margin-bottom: 16px;
}

.tools {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.tools>.tool:nth-child(2) {
    margin-left: auto;
    margin-right: 24px;
}

.task {
    display: flex;
    align-items: center;
}

.taskbar {
    border-bottom: 2px rgb(53, 53, 53) solid;
    border-top: 2px rgb(53, 53, 53) solid;
}

.tasks {
    max-height: 690px;
    overflow: scroll;
}

.task {
    display: flex;
    padding: 10px 8px;
}

.task * {
    display: inline-block;
}

.task>.name {
    margin-right: 8px;
}

.task>.description {
    color: rgb(92, 92, 92);
    max-width: fit-content;
}

.edit {
    border-radius: 4px;
    color: rgb(196, 184, 119);
}

.delete {
    border-radius: 4px;
    color: rgb(184, 120, 120);
}

.edit:hover,
.delete:hover {
    cursor: pointer;
}

.edit:active,
.edit:hover {
    color: rgb(207, 188, 12);
}

.delete:active,
.delete:hover {
    color: rgb(197, 34, 34);
}

.task:not(:last-child) {
    border-bottom: 1px rgb(94, 94, 94) solid;
}

.task>li:nth-child(4) {
    margin-left: auto;
}

.task-checkbox {
    margin-right: 10px;
}

.name:hover {
    cursor: pointer;
    text-decoration: underline;
}